.contact-info-inner h1 {
    margin-bottom: 62px;
    font-weight: bold;
}

.contact-info-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-info {
    background-color: #fff;
    min-height: 775px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
}

.container {
    max-width: 1364px;
    margin: 0 auto;
}


.contact-info-inner .form-select {
    background-image: url(../assets/images/dropdown.png);
    background-size: 12px 7px;
    background-position: 92% 50%;
}

.contact-info-inner .country .form-select {
    background-position: 83% 50%;
}

.contact-info-inner .btn,
.contact-info-inner .form-control,
.contact-info-inner .form-select {
    font-size: 16px;
    line-height: 57px;
    border-radius: 50px;
    width: 100%;
    border: none;
    padding: 0;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.contact-info-inner .btn {
    line-height: 45px;
}

.contact-info-inner .form-control:focus {
    background-color: #E8E8E8;
}

.contact-info-inner .form-control:focus,
.contact-info-inner .btn:focus,
.contact-info-inner .form-select:focus {
    outline: none;
    box-shadow: none;
}

.contact-info-inner .form-control,
.contact-info-inner .form-select {
    padding: 0 47px;
    background-color: #F7F7F7;
    color: #9C9C9C;
}

.contact-info-inner .form-control::placeholder {
    color: #9C9C9C;
}

.contact-info-inner {
    max-width: 640px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.contact-info-inner .next-btn {
    background-color: #566499;
}

.contact-info-inner .next-btn:hover {
    background-color: #435285;
}

.contact-info-inner .cancel-btn {
    background-color: #AA6827;
}

.contact-info-inner .cancel-btn:hover {
    background-color: #975e25;
}

.contact-info-inner .contactinfo-btns {

    max-width: 360px;
    margin: 40px auto 0;
}